<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="/static/index/css/style.css" rel='stylesheet' type='text/css'/>

    <!--web fonts-->
    <link href='http://fonts.lug.ustc.edu.cn/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <!--web fonts-->
    <script src="http://ajax.lug.ustc.edu.cn/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>

<script>$(document).ready(function (c) {
    $('.close').on('click', function (c) {
        $('.login-form').fadeOut('slow', function (c) {
            $('.login-form').remove();
        });
    });
});
</script>
<!--SIGN UP-->

<h1>宝可梦信息管理系统</h1>
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"></div>
    <div class="avatar">
        <img src="/static/index/images/avatar2.jpeg"/>
    </div>

    <!--传送表单-->
    <form action="/login" method="post">
        <label>
            <input type="text" name='username' class="text" value="username" onfocus="this.value = '';"
                   onblur="if (this.value === '') {this.value = 'username';}">
        </label>
        <div class="key">
            <label>
                <input type="password" name='password' value="password" onfocus="this.value = '';"
                       onblur="if (this.value === '') {this.value = 'password';}">
            </label>
        </div>
        <div class="signin">
            <input type="submit" value="Login">
        </div>
    </form>


</div>

<div class="copy-rights">
    <p>Copyright &copy; 2018.
</div>

</body>
</html>