<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- 引用css -->
    <link rel="stylesheet" href="/static/main/css/style.css">
    <link rel="stylesheet" href="/static/main/node_modules/mdi/css/materialdesignicons.min.css">
    <!-- end 引用css -->

    <link rel="shortcut icon" href="/static/main/images/favicon.png"/>
</head>

<body>
<div class="body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    {% include '/partials/_sidebar.html' %}
    <!-- partial -->
    <!-- partial:partials/_navbar.html -->
    {% include '/partials/_navbar.html' %}
    <!-- partial -->
    <!--主页面-->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                        <div class="mdc-card">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                                    <section class="purchase__card_section">
                                        <p>{{rolename}}，欢迎来到宝可梦的世界，希望你在本模拟器玩得愉快</p>
                                    </section>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-5">
                                    <section class="purchase__card_section d-flex align-item-center">
                                        <a href="https://github.com/Luoyayu/gameflask" target="_blank"
                                           class="mdc-button mdc-button--raised mdc-button--dense"
                                           data-mdc-auto-init="MDCRipple">本项目github主页</a>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-7">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                                <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                                    <div class="mdc--tile mdc--tile-danger rounded">
                                        <i class="mdi mdi-account-settings text-white icon-md"></i>
                                    </div>
                                    <div class="text-wrapper pl-1">
                                        <h3 class="mdc-typography--display1 font-weight-bold mb-1">{{tot}}</h3>
                                        <p class="font-weight-normal mb-0 mt-0">图鉴宝可梦数量</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                                <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                                    <div class="mdc--tile mdc--tile-success rounded">
                                        <i class="mdi mdi-basket text-white icon-md"></i>
                                    </div>
                                    <div class="text-wrapper pl-1">
                                        <h3 class="mdc-typography--display1 font-weight-bold mb-1">${{money}}</h3>
                                        <p class="font-weight-normal mb-0 mt-0">玩家金钱</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                                <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                                    <div class="mdc--tile mdc--tile-warning rounded">
                                        <i class="mdi mdi-ticket text-white icon-md"></i>
                                    </div>
                                    <div class="text-wrapper pl-1">
                                        <h3 class="mdc-typography--display1 font-weight-bold mb-1">{{job}}</h3>
                                        <p class="font-weight-normal mb-0 mt-0">职业</p>
                                    </div>
                                </div>
                            </div>
                            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6">
                                <div class="mdc-card py-3 pl-2 d-flex flex-row align-item-center">
                                    <div class="mdc--tile mdc--tile-primary rounded">
                                        <i class="mdi mdi-account-star text-white icon-md"></i>
                                    </div>
                                    <div class="text-wrapper pl-1">
                                        <h3 class="mdc-typography--display1 font-weight-bold mb-1">{{lv}}</h3>
                                        <p class="font-weight-normal mb-0 mt-0">等级</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--战力显示-->
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-5">
                        <div class="mdc-card d-flex flex-column">
                            <div class="mdc-layout-grid__inner flex-grow-1">
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3"></div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6 d-flex align-item-center flex-column">
                                    <h2 class="mdc-card__title mdc-card__title--large text-center mt-2 mb-2">战力</h2>
                                    <div id="currentBalanceCircle" class="w-100"></div>
                                    <h1></h1>
                                    <font size="64" color="red">{{power}}</font>
                                </div>
                                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


<!-- body wrapper -->
<!-- plugins:js -->
<script src="/static/main/node_modules/material-components-web/dist/material-components-web.min.js"></script>
<script src="/static/main/node_modules/jquery/dist/jquery.min.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/static/main/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="/static/main/node_modules/progressbar.js/dist/progressbar.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/main/js/misc.js"></script>
<script src="/static/main/js/material.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<!--<script src="/static/main/js/dashboard.js"></script>-->
<!-- End custom js for this page-->
</body>

</html>