<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>pokemon</title>
    <!-- 引用css -->
    <link rel="stylesheet" href="/static/main/node_modules/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/main/css/style.css">

    <link rel="stylesheet" href="/static/mypage/css/pokemon.css">
    <!-- end 引用css -->
    <link rel="shortcut icon" href="/static/main/images/favicon.png"/>
</head>

<body>
<div class="body-wrapper">
    <!-- partial:../../partials/_sidebar.html -->
    {% include '/partials/_sidebar.html' %}
    <!-- partial -->
    <!-- partial:../../partials/_navbar.html -->
    {% include '/partials/_navbar.html' %}
    <!-- partial -->
    <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">

                    <!--pokemon1-->
                    {% for pokemon in pokemons %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                        <div class="mdc-card">
                            <section class="mdc-card__primary">
                                <a href="">
                                    <h3 class="mdc-card__title mdc-card__title--large">{{pokemon.name}}</h3>
                                </a>
                            </section>
                            <section class="mdc-layout-grid-fixed-column-width">
                                <div class="pokemon_left">
                                    <img height="240px" width="180px" src={{pokemon.url}}>
                                </div>
                                <div class="pokemon_right">
                                    <p>总血量:{{pokemon.hp}}</p>
                                    <p>等级:{{pokemon.lv}}</p>
                                    <p>攻击:{{pokemon.atk}}</p>
                                    <p>防御:{{pokemon.def}}</p>
                                    <p>特攻:{{pokemon.spatk}}</p>
                                    <p>特防:{{pokemon.spdef}}</p>
                                    <p>速度:{{pokemon.speed}}</p>
                                    <!--<p>特性:{{pokemon.s}}</p>-->
                                </div>
                            </section>
                        </div>
                        <a href="/main/pokemon_change_down{{pokemon.id}}">
                            <button type="button" class="mdc-button mdc-button--raised w-100"
                                    data-mdc-auto-init="MDCRipple">
                                下场
                            </button>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </main>

    </div>
</div>


<!-- body wrapper -->
<!-- plugins:js -->
<script src="../../../static/main/node_modules/material-components-web/dist/material-components-web.min.js"></script>
<script src="../../../static/main/node_modules/jquery/dist/jquery.min.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="../../../static/main/node_modules/chart.js/dist/Chart.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="../../../static/main/js/misc.js"></script>
<script src="../../../static/main/js/material.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="../../../static/main/js/chart.js"></script>
<!-- End custom js for this page-->
</body>

</html>